@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@600&display=swap');

body {
    background: #e0f2f1;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pet-card {
    background: white;
    border-radius: 40px;
    padding: 30px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    border: 4px solid #4db6ac;
    text-align: center;
}

h1 { font-family: 'Fredoka One', cursive; color: #00796b; }

.pet-list { list-style: none; padding: 0; }

.pet-item {
    background: #f1f8e9;
    margin: 10px 0;
    padding: 12px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #a5d6a7;
    transition: 0.5s; /* Suaviza a mudança de cor */
}

/* Classe que será ativada pelo botão */
.destaque-pet {
    background: #fff176 !important;
    border-color: #fbc02d !important;
    color: #f57f17 !important;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(251, 192, 45, 0.5);
}

.pet-button {
    background: #ff7043;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 50px;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
    box-shadow: 0 4px #d84315;
    margin-top: 15px;
}

.pet-button:active { transform: translateY(4px); box-shadow: none; }

#resultado {
    margin-top: 20px;
    padding: 15px;
    background: #00796b;
    color: white;
    border-radius: 20px;
    display: none; /* Começa escondido */
}
