@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@500;700&display=swap');

body {
    background: #e0f2f1;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pet-card {
    background: white;
    border-radius: 40px;
    padding: 30px;
    width: 320px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    border: 4px solid #4db6ac;
    text-align: center;
}

.paw-icon { font-size: 40px; margin-bottom: 10px; }

h1 { font-family: 'Fredoka One', cursive; color: #00796b; margin: 0; }
.desc { color: #888; font-size: 0.8rem; margin-bottom: 20px; }

ul { list-style: none; padding: 0; }

.pet-item {
    background: #f1f8e9;
    margin: 10px 0;
    padding: 12px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    border: 2px solid #a5d6a7;
    transition: 0.4s ease;
}

/* Classe de brilho que o JS vai injetar */
.brilho {
    background: #fff59d !important;
    border-color: #fbc02d !important;
    color: #f57f17 !important;
    transform: scale(1.05);
}

#btn-verificar {
    background: #ff7043;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 50px;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
    box-shadow: 0 5px 0 #d84315;
    margin-top: 20px;
}

#btn-verificar:active {
    transform: translateY(4px);
    box-shadow: none;
}

.hidden { display: none; }

#placar {
    margin-top: 20px;
    padding: 15px;
    background: #00796b;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}
